# Dependencies
node_modules/

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist/

# Electron build output
release/

# Environment / secrets
.env
.env.local
.env.production

# IDE / editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Expo router
app-expo/
